:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #eee;
  background-color: #333;
  height: 100%;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

#root {
  background-color: #222;
  @media (prefers-color-scheme: light) {
    background-color: white;
  }
}

body {
  margin: 0;
  min-width: 320px;
  height: 100%;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #222;
    background-color: #eee;
  }
  .root {
    background-color: #eee;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.full-width {
  width: 100%;
}

.full-height {
  height: 100%;
}
